
.recipeCard {
  transform: rotateZ(-1deg);
  
}
.recipeCard span {
  width: 100% !important;
}
.recipeCard img{
    object-fit: cover;
}
.content {
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: relative;
  top: -40px;
  left: -10px;
}
.info {
  padding: 16px;
}
.info h4 {
  margin: 4px 0;
  text-transform: uppercase;
  color: black;
}
.info p {
  margin: 0;
  color: #777;
}
.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.actions a {
  color: #fff;
  background: #f01b29;
  padding: 16px 24px;
  text-decoration: none;
}
